* {
    text-decoration: none;
}

.menu-link {
    width: 10vw !important;
}

.filter-checks {
    position: absolute;
    z-index: 3;

    .cursor-pointer {
        cursor: pointer;
    }

}

.border-dark {
    border: 1px solid #000;
    padding: 0.5vw;
}

.container-fluid {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.menu-gtpp {
    width: 6vw;
    padding: 0.5vw;
}

.menu-task {

}


.menu-task {
    height: 100%;
    width: 94%;
}

.menu-task .tasks-container {
    height: 93%;
    width: 100%;
}

.d-flex .gap-5.overflow-auto {
    height: 100%;
}


#task-description {
    overflow: auto;
}

.menu-card-outside {
    z-index: 11;
}

.menu-card-outside.bg-dark {
    opacity: 0.3 !important;
}