.cardTest {
    max-width: 250px;
    width: 100%;
    /* border: solid 2px #5353536e; */
}

.colorSystem {
    background-color: var(--vPrimaryColor);
}

.colorSystem:hover {
    background-color: #555555;
    transition: all ease .9s;
    i {
        color: var(--vPrimaryColor) !important;
        transition: all ease .5s;
    }
}

.colorSystemLightGray {
    background-color: #e1e3e2;
}

.container {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}