.cardTest {
    max-width: 255px;
    width: 100%;
    height: fit-content;
}

.colorSystem {
    background-color: var(--vPrimaryColor);
}

.colorSystem:hover {
    background-color: #555555;
    transition: all ease .9s;
}

.colorSystem:hover i {
    color: var(--vPrimaryColor) !important;
    transition: all ease .5s;
}

.colorSystemLightGray {
    background-color: #e1e3e2;
}

.container {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
}

label, h1 {
    font-size: inherit;
}