@import url('../../Color.css');

:root {
    --vSpaceDefaul: clamp(0.5px, calc(0.2rem + 0.5vw + 0.5vh), 1px);
    --vSpaceLg: clamp(2px, calc(0.2rem + 0.5vw + 0.5vh), 14px);
}

#moduleCLPP {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: var(--vSpaceLg);
    bottom: var(--vSpaceLg);
    /* width: calc(100% - (var(--vSpaceLg)*2)); */
    max-width: 550px;
    z-index: 1;
}

#moduleCLPP>div {
    height: 75vh;
    width: 100%;
    max-width: 550px;
}

#moduleCLPP>button {
    background-color: var(--vPrimaryColor);
    box-shadow: 0px 0px var(--vSpaceLg) var(--vSecondaryColor);
    color: var(--vSecondaryColor);
    font-size: clamp(2px, calc(0.8rem + 4vw + 4vh), 28px) !important;
}

.cardContactBtn {
    width: calc(100% - (var(--vSpaceLg)*2));
}

.cardContact {
    display: flex;
    font-size: clamp(2px, calc(0.15rem + 1vw + 1vh), 14px);
    height: clamp(2px, calc(6rem + 10vw + 10vh), 100px);
    width: 100%;
}

.cardContact>div>header,
#cardUser>div>header {
    width: clamp(50px, calc(0.8rem + 4vw + 4vh), 65px);
    height: clamp(50px, calc(0.8rem + 4vw + 4vh), 65px);
    max-width: 20%;
}

.cardContact>div>header>img {
    width: 100%;
    height: 100%;
}

.cardContact>div>div {
    flex-grow: 1;
}

.cardContact>div>button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    background-color: var(--vPrimaryColor);
}

.cardContact>div>button:hover {
    background-color: var(--vSecondaryColor);
}

.cardContact>div>button:hover i {
    color: white !important;
}

.cardContact>div>button>i {
    color: var(--vSecondaryColor) !important;

}

/* Estilo complementar do chat */
#divChatWindow {
    position: relative;
}

#divChatWindow>header>i {
    cursor: pointer;
}

#divChatWindow .notifyMessage{
    font-size: clamp(2px, calc(0.15rem + 1vw + 1vh), 12px) !important;
}
#divChatWindow>section>.messageReceived>div {
    background: #f1f0f0;
    word-wrap: break-word;
    max-width: 70%;
}

#divChatWindow>section>.messageSent>div {
    background: #3cb371;
    word-wrap: break-word;
    color: white;
    max-width: 70%;
}

#divChatWindow>div>div>div>a>img{
    width: 100%;
}
#divChatWindow>header>i {
    font-size: clamp(2px, calc(0.15rem + 1vw + 1vh), 10px) !important;
}

#divMessageFile > a > i{
    font-size: clamp(25px, calc(1.5rem + 3vw + 3vh), 75px) !important;
}