.hamburger {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.line {
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.active .line:nth-child(2) {
    opacity: 0;
}

.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
