@import url(../../Root-space.css);

/* Estilo geral do contêiner da coluna */
.columnTaskState-container {
    width: 100%;
    height: 100%;
    max-height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #b5b5b53e;
    border-radius: 0 0px 6px 6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.3rem;
}

/* Título fixo da coluna */
.columnTaskState-title {
    /* text-align: center; */
    width: clamp(0.9rem, 100vw, 250px);
    padding: 0.7rem 1rem;
}

.font-filter-button {
    background-color: #2B2E4A;
    color: #fff;
    font-weight: bold;
    transition: all ease 1s;
    font-size: 10px;

    &:hover {
        background-color: #f8f9fa;
        font-weight: bold;
        color: #2B2E4A;
        transition: all ease-out 0.5s;
    }
}

.columnTaskState-title h1 {
    color: #fff !important;
    font-weight: bold !important;
}

/* Corpo da coluna que contém as tarefas */
.columnTaskState-body {
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Estilos para os cards de tarefa */
.task-card {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 0.75rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade para dispositivos móveis */
@media (max-height: 668px) {
    .columnTaskState-container {
        max-height: 58vh;
    }
}

@media (min-height: 768px) {
    .columnTaskState-container {
        max-height: 68vh;
    }
}

@media (min-height: 900px) {
    .columnTaskState-container {
        max-height: 70vh;
    }
}

@media (min-width: 1200px) {
    .columnTaskState-container {
        max-width: 400px;
    }

    .columnTaskState-container {
        max-height: clamp(1vh, 66vh, calc(100dvh - 20vh));
    }
}
