.avatar-group {
  display: flex;
  align-items: center;
  position: relative;
}

.portrait {
  width: 300px;
  position: absolute;
  top: 0%;
  z-index: 999;
  left: 101%;
  height: 520px;
  overflow: auto;
}

.bg-danger-hover:hover {
  background-color: #dc3545;
  transition: all ease .4s;
}

.bg-danger-hover {
  position: relative;
}

.checkbox-label {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #ccc;
}

input[type="checkbox"]:checked + .checkbox-label {
  background-color: red;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  overflow: hidden;
  margin-right: -10px;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease, margin 0.3s ease, width 0.3s ease;
  z-index: 1; /* Z-index base para todos os avatares */
}

.avatar-red {
  border: 3px solid red;
}

.avatar-green {
  /*border: 3px solid rgb(2, 165, 2);*/
  border: 1px solid gray;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-group:hover .avatar {
  transform: scale(1.1); /* Todos os avatares se expandem levemente */
  margin-right: 10px; /* Espaçamento extra ao passar o mouse */
  /* width: 50px;  Aumenta o tamanho de cada avatar no hover */
  /* height: 50px;  Aumenta a altura proporcional ao width */
}

/* Primeiro avatar sempre acima dos outros */
.avatar:first-child {
  z-index: 10;
}

.avatar:hover {
  transform: scale(1.2); /* Avatar em foco expande mais */
}

/* Online dot */
.online-dot {
  width: 10px;
  height: 10px;
  background-color: #4caf50; /* Verde para indicar online */
  border-radius: 50%;
  position: absolute;
  bottom: 4px;
  right: 4px;
  border: 2px solid white;
}

.extra-users {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  /* margin-left: -10px; */
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-group:hover .extra-users {
  /*margin-left: 5px;  Expandindo o espaçamento da bolha de extra usuários */
  /* width: 50px;
  height: 50px; */
}
