.modal-card-default {
    width: 50%;
    height: 98%;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .modal-card-default {
        width: 100%;
    }
} 

  .cloud-balloon {
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 1000;
  }
  
  .cloud-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-285px) translateY(-42px) rotate(89deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f9f9f9;
  }
  
  .cloud-content {
    font-size: 14px;
    color: #333;
  }

.zIndex99 {
    background-color: #0000006e;
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.border-online {
    border: 2px solid rgb(0, 234, 0);
}

.border-offline {
    border: 2px solid red;
}

.cardUser {
    width: 6%;
    overflow: hidden;
    transition: all ease-in 1s;
}

.cardUser:hover {
    width: 300px;
}

.boxListCheck {
    top: 100%;
    left: 0%;
}


@media screen and (max-width: 768px) {
    .cardUser {
        width: 20%;
    }

    .cardUser:hover {
        width: 100%;
    }
}

.box-dialog {
    width: 300px;
    top: 12%;
    left: 60%;
    z-index: 1;
}

.taskGtpp {
    /* max-height: 450px;
    height: clamp(400px, 100%, calc(100% - 550px)); */
    height: 450px;
}

@media screen and (max-width: 920px) {
    .box-dialog {
        width: 300px;
        top: 32%;
        left: 15%;
    }
     
    .portrait {
        left: 2% !important;
        height: 270px !important;
        top: 20% !important;
    }

    .taskGtpp {
        height: 400px;
    }
}



@media screen and (max-width: 768px) {
    .position-box-users {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }

    .box-dialog {
        top: 14%;
        left: 50%;
        width: 300px;
        transform: translateX(-50%);
    }

    .taskGtpp {
        height: 370px;
    }

    .portrait {
        left: 2% !important;
        height: 510px !important;
        top: 8% !important;
    }

    .boxListCheck {
        top: 100%;
        left: -86%;
    }
}
