.modal-card-default {
    z-index: 1; 
    top: 10%;
    left: 13%;
}

.zIndex99 {
    background-color: rgba(0, 0, 0, 0.43);
    position: absolute;
    width: 100% !important;
    height: 100%;
}

.border-online {
    border: 2px solid rgb(0, 234, 0);
}

.border-offline {
    border: 2px solid red;
}

.cardUser {
    width: 6%;
    overflow: hidden;
    transition: all ease-in 1s;
}

.cardUser:hover {
    width: 300px;

}