.modal-card-default {
    width: 50%;
    height: 98%;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .modal-card-default {
        width: 100%;
    }
} 

  .cloud-balloon {
    position: absolute;
    top: 50%;  
    max-height: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
  }
  
  .cloud-arrow {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-285px) translateY(-42px) rotate(89deg);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f9f9f9;
  }
  
  .cloud-content {
    font-size: 14px;
    color: #333;
  }

.zIndex99 {
    background-color: #0000006e;
    position: absolute;
    left: 0;
    top:0;
    width: 100vw !important;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin:0px !important;
}


.border-online {
    border: 2px solid rgb(0, 234, 0);
}

.border-offline {
    border: 2px solid red;
}

.cardUser {
    width: 6%;
    overflow: hidden;
    transition: all ease-in 1s;
}

.cardUser:hover {
    width: 300px;
}

.boxListCheck {
    top: 0%;
    left: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    min-height: 25%;
    height: auto;
    max-height: 75%;
    min-width: 25%;
    width: auto;
    max-width: 75%;
}


@media screen and (max-width: 768px) {
    .cardUser {
        width: 20%;
    }

    .cardUser:hover {
        width: 100%;
    }
}

.box-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 1;
}


@media screen and (max-width: 768px) {
    .position-box-users {
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
}
