@import url('./Color.css');
@import url('./Modules/GTPP/Root-font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
i,
label,
b,
footer,
legend {
  margin: 0px;
  padding: 0px;
  color: var(--vTitleColor) !important;
  font-size: clamp(20px, calc(0.2rem + 0.5vw + 0.5vh), 26px);
}

@media screen and (max-width: 460px) {
  input {
    font-size: clamp(5px, 100%, 16px) !important; 
  }
}

body {
  font-size: var(--font-size-body);
  height: 100dvh;
}

body span {
  font-size: var(--font-size-p);
}

label>div,
nav span,
button > i {
  font-size: var(--font-size-button) !important;
}


p {
  font-size: var(--font-size-p);
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

/* h2 {
  font-size: var(--font-size-h2);
} */

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

small {
  font-size: var(--font-size-small);
}

figcaption {
  font-size: var(--font-size-caption);
}

button {
  font-size: var(--font-size-button);
}

input,
textarea {
  font-size: var(--font-size-input);
}

blockquote {
  font-size: var(--font-size-blockquote);
}

ul,
ol {
  font-size: var(--font-size-list);
}

footer {
  font-size: var(--font-size-footer);
}

header,
nav {
  font-size: var(--font-size-header);
}

button>label {
  font-size: clamp(20px, calc(0.2rem + 0.5vw + 0.5vh), 24px) !important;
}

#root {
  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.App-header>div {
  width: calc(100% - 78px);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100vw;
  background-color: #f1f2f6;
}

.App>header {
  background-color: var(--vPrimaryColor);
}

.App>header h1 {
  white-space: nowrap;
  /* Impede a quebra de linha */
  overflow: hidden;
  /* Esconde o texto que ultrapassa o espaço */
  text-overflow: ellipsis;
  /* Adiciona "..." ao final do texto */
}

.App>section {
  flex-grow: 1;
  overflow: auto;
}

#navGipp {
  font-size: clamp(20px, calc(0.2rem + 0.5vw + 0.5vh), 26px) !important;
  border-right: solid clamp(1px, calc(0.2rem + 0.5vw + 0.5vh), 2px) #c1c2c6;
  height: 100%;
}

#navGipp a:hover {
  color: var(--vThirdColor) !important;
}

.App>footer {
  background-color: var(--vPrimaryColor);
  white-space: nowrap;
  /* Impede a quebra de linha */
  overflow: hidden;
  /* Esconde o texto que ultrapassa o espaço */
  text-overflow: ellipsis;
  /* Adiciona "..." ao final do texto */
  font-size: clamp(12px, calc(0.12rem + 0.5vw + 0.5vh), 26px) !important;
}


#loginCustomForm {
  background-color: rgba(255, 255, 255, 1);
}

#loginCustomForm button {
  color: white;
  font-weight: bolder;
  background-color: var(--vPrimaryColor);
}

#loginCustomForm button:hover {
  background-color: var(--vSecondaryColor);
}

.StructureModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.ModalBgWhite {
  z-index: 1000;
  background-color: rgba(255, 255, 255, .5);
}

.ModalBgBlack {
  z-index: 900;
  background-color: rgba(0, 0, 0, .5);
}

.cursor-pointer {
  cursor: pointer;
}

/* Define a classe para a animação */
.spinner-grow-img {
  display: inline-block;
  width: 100px;
  /* Ajuste o tamanho conforme necessário */
  height: 100px;
  animation: spinner-grow 2s infinite ease-in-out;
  /* Animação aplicada */
}

.photoCircle {
  width: clamp(50px, calc(0.8rem + 4vw + 4vh), 55px);
  height: clamp(50px, calc(0.8rem + 4vw + 4vh), 55px);
}

/* Keyframes para a animação */
@keyframes spinner-grow {
  0% {
    transform: scale(0);
    /* Começa invisível e muito pequeno */
    opacity: 0;
    /* Totalmente transparente */
  }

  50% {
    transform: scale(1);
    /* Cresce ao tamanho original */
    opacity: 1;
    /* Totalmente visível */
  }

  100% {
    transform: scale(0);
    /* Diminui até desaparecer */
    opacity: 0;
    /* Totalmente transparente novamente */
  }

}