body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code/*,
* */{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 579px) {

  /* Para telas menores que 580px */
  #moduleGTPP .GIPP-section {
    display: flex !important;
    flex-direction: column !important;
  }

  #moduleGTPP .GIPP-section-sm {
    width: 100% !important;
  }

  #moduleGTPP .GIPP-aside-sm {
    width: 100% !important;
    justify-content: start !important;
  }
}

@media (min-width: 580px) and (max-width: 1024px) {

  /* Para telas entre 580px e 1024px */
  #moduleGTPP .GIPP-section {
    display: flex !important;
    flex-direction: row !important;
  }

  #moduleGTPP .GIPP-section-sm {
    width: 60% !important;
  }

  #moduleGTPP .GIPP-aside-sm {
    width: 40% !important;
  }
}


#moduleGTPP .GIPP-section {
  display: flex !important;
  flex-direction: row;
}

#moduleGTPP .GIPP-section-sm {
  width: 76%;
}

#moduleGTPP .GIPP-aside-sm {
  width: 24%;
}